head
    title Arun Kumar Boss: #{name}
    link(rel="stylesheet", href="/stylesheets/users.css")
include ./partials/header.pug
body 
    if(error)
        p.errorMessages=error
    else if(success)
        p.successMessages=success
    .toggle-container
        span#restaurants-button.active Restaurants
        .horizontal-line
        span#reciepies-button Recipes
    .user-container
        .places-container
            h1
                div
                    span Your
                    br 
                    span Restaurants
            div
                form.add-more(action="/forms/place" method="GET")
                    button Add
            each val,key in queryPlaceObject
                .place-container 
                    -let src = val.photos?val.photos:"/images/default.jpg";
                    figure
                        img(src=src, alt="The image could not be loaded")
                    .info
                        h4=val.placeName
                        h5 Rating : #{val.rating}
                        h5 Pincode : #{val.pincode}
                    .actions
                        form(action=`/place/${val.placeName}`, method="GET")
                            button.view-more-button(type="submit") View More
                        form(action=`/place/${val.placeName}?_method=DELETE`, method="POST")
                            button.delete-button Delete
                        form(action=`/place/${val.placeName}/edit`, method="GET")
                            button.edit-button Edit
        .recipies-container
            h1
                div 
                    span Your
                    br 
                    span Recipes
            div
                form.add-more(action="/forms/reciepie" method="GET")
                    button Add
            each val,key in reciepieSearchQuery
                .reciepie-container 
                    -let src = val.photos?val.photos:"/images/default.jpg";
                    figure
                        img(src=src, alt="The image could not be loaded")
                    .info
                        h4=val.reciepies_name
                        h5 Rating: #{val.rating}
                    .actions
                        form(action=`/reciepie/${val.reciepies_name}`, method="GET")
                            button.view-more-button(type="submit") View more
                        form(action=`/reciepie/${val.reciepies_name}?_method=DELETE`, method="POST")
                            button.delete-button Delete
                        form(action=`/reciepie/${val.reciepies_name}`, method="GET")
                            button.edit-button Edit
    script(src="/javascripts/users.js") 
include ./partials/footer.pug